#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a {
  text-align: center;
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}


body {
  background-color: #364125;
}

header {
  background-color: #364125;
}

nav a:hover {
  background-color: #060b0f;
}

.book, .join {
  background-color: #d7a91d;
}

.book:hover, .join:hover {
  background-color: #060b0f;
}

#background {
  background-color: #6961ff;
}

.msg {
  background-color: #d7a91d;
}

footer {
  background-color: #0d5c22;
}

nav a {
  color: #000000;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  color: #FFFFFF;
}

.home-title {
  color: #FFFFFF;
}
h4 {
  color: #000000;
}
.book, .join {
  color: #1c5428;
}
.book:hover, .join:hover {
  color: #FFFFFF;
}
.msg h2 {
  color: #FFFFFF;
}  
.msg p {
footer a {
  font-size: 1.2em;
  color: #FFFFFF;
  text-decoration: underline;
}

footer a:hover {
  color: #FFFFFF;
}
  color: #FFFFFF;
}

.icon {
  width: 80px;
}

.logo {
  width: 80px;
}

nav a {
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}
.book, .join {
  color: #FFFFFF;
  text-decoration: none;
}

footer a {
  font-size: 1.2em;
  color: #FFFFFF;
  text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Rock+Salt&display=swap');


body, h2 {
  margin: 0;
  padding: 0;
}


body {
  background-color: #364125;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 22px;
}


.home-title, .msg h2 {
  font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
  font-size: 2em;
  margin-top: 10px;
}


#logo_link {
  padding-top: 5px;
}

nav a {
  padding: 35px;
}

.book, .join {
  padding: 15px 30px;
  font-size: 18px;
  margin-top: 50px;
  border-radius: 5px;
}

.icon {
  padding-top: 10px;
}

.msg {
  padding: 35px;
  line-height: 1.5em;
}

.msg p {
  padding-bottom: 15px;
  font-size: 0.8em;
}

footer {
  padding: 25px 50px;
  margin-top: 200px;
}

footer .social img {
  padding-top: 15px;
}


.card-img {
  border: 10px solid #000000;
}

main section img {
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
}
nav {
  display: flex;
  justify-content: space-around;
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
}
#hero-msg h4 {
  color: white;
}
#hero-img {
  width: 100%;
}
#hero {
  margin-top: -100px;
}
#hero-msg {
  margin-top: 100px;
}
#hero-box {
  z-index: -1;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.card-img, .mountains {
  width: 100%;
}

.rivers-card {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.camping-card {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
}

.rapids-card {
  grid-column: 8 / 10;
  grid-row: 2 / 3;
}

#background {
  grid-column: 1 / 11;
  grid-row: 4 / 9;
}

.mountains {
  grid-column: 2 / 7;
  grid-row: 5 / 8;
}

.msg {
  grid-column: 6 / 10;
  grid-row: 6 / 7;
}

footer {
  background-color: #6f7364;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-img {
  border: 10px solid #d9c2a3;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
  opacity: .6;
  transform: scale(1.1);
}

.msg {
  background-color: #6f7364;
  padding: 35px;
  grid-column: 6 / 10;
  grid-row: 6 / 7;
  box-shadow: 5px 5px 10px #6f7364;
}

.mountains {
  width: 100%;
  grid-column: 2 / 7;
  grid-row: 5 / 8;
  box-shadow: 5px 5px 10px #6f7364;
}

@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  #hero-msg h1 {
      color: #6f7364;
  }
  .home-title {
      font-size: 25px;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
}