#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a {
  text-align: center;
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}


body {
  background-color: #364125;
}

Header {
  background-color: #364125;
}

nav a:hover {
  background-color: #060b0f;
}

.book, .join {
  background-color: #d7a91d;
}

.book:hover, .join:hover {
  background-color: #060b0f;
}

#background {
  background-color: #6961ff;
}

.msg {
  background-color: #d7a91d;
}

footer {
  background-color: #0d5c22;
}

nav a {
  color: #000000;
}

nav a:hover {
  color: #FFFFFF;
}

.home-title {
  color: #FFFFFF;
}
h4 {
  color: #000000;
}
.book, .join {
  color: #1c5428;
}
.book:hover, .join:hover {
  color: #FFFFFF;
}
.msg h2 {
  color: #FFFFFF;
}  
.msg p {
  color: #000000;
}
footer a {
  color: #FFFFFF;
}
footer a:hover {
  color: #FFFFFF;
}

.icon {
  width: 80px;
}

images/logo.png {
  width: 80px;
}

nav a {
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}
.book, .join {
  color: #FFFFFF;
  text-decoration: none;
}

footer a {
  font-size: 1.2em;
  color: #FFFFFF;
  text-decoration: underline;
}
