#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a {
  text-align: center;
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}


body {
  background-color: #364125;
}

header {
  background-color: #364125;
}

nav a:hover {
  background-color: #060b0f;
}

.book, .join {
  background-color: #d7a91d;
}

.book:hover, .join:hover {
  background-color: #060b0f;
}

#background {
  background-color: #6961ff;
}

.msg {
  background-color: #d7a91d;
}

footer {
  background-color: #0d5c22;
}

nav a {
  color: #000000;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  color: #FFFFFF;
}

.home-title {
  color: #FFFFFF;
}
h4 {
  color: #000000;
}
.book, .join {
  color: #1c5428;
}
.book:hover, .join:hover {
  color: #FFFFFF;
}
.msg h2 {
  color: #FFFFFF;
}  
.msg p {
footer a {
  font-size: 1.2em;
  color: #FFFFFF;
  text-decoration: underline;
}

footer a:hover {
  color: #FFFFFF;
}
  color: #FFFFFF;
}

.icon {
  width: 80px;
}

.logo {
  width: 80px;
}

nav a {
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}
.book, .join {
  color: #FFFFFF;
  text-decoration: none;
}

footer a {
  font-size: 1.2em;
  color: #FFFFFF;
  text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Rock+Salt&display=swap');


body, h2 {
  margin: 0;
  padding: 0;
}


body {
  background-color: #364125;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 22px;
}


.home-title, .msg h2 {
  font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
  font-size: 2em;
  margin-top: 10px;
}


#logo_link {
  padding-top: 5px;
}

nav a {
  padding: 35px;
}

.book, .join {
  padding: 15px 30px;
  font-size: 18px;
  margin-top: 50px;
  border-radius: 5px;
}

.icon {
  padding-top: 10px;
}

.msg {
  padding: 35px;
  line-height: 1.5em;
}

.msg p {
  padding-bottom: 15px;
  font-size: 0.8em;
}

footer {
  padding: 25px 50px;
  margin-top: 200px;
}

footer .social img {
  padding-top: 15px;
}


.card-img {
  border: 10px solid #000000;
}

main section img {
  box-sizing: border-box;
}