/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #396e94; 
    color: #f0f0f0;
}

header {
    background-color: #e63946; 
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    text-shadow: 2px 2px #000000;
}

nav {
    margin-top: 0.5rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: #E7C24F;
    text-shadow: 1px 1px #000;
}

/* Hero Banner */
.hero-banner {
    background-image: url('Images/banner.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 4rem 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.hero-banner h2 {
    font-size: 2.5rem;
    margin: 0 0 1rem;
}

.hero-banner p {
    font-size: 1.2rem;
}


.content {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 900px;
    background-color: #fca311; 
    border-radius: 8px;
    color: #000;
    text-align: center;
}

.content img {
    max-width: 100%;
    border-radius: 8px;
    margin: 1rem 0;
}


footer {
    background-color: #e63946;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
}

footer a {
    color: #fca311;
    text-decoration: none;
}