/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #396e94; 
    color: #f0f0f0;
    line-height: 1.5em;
}
.overview {
    text-align: center;
}

main {
    margin: 50px;
}

.logo {
    position: absolute;
    top:20px;
    left:20px;
    width: 80px;
}

header {
    background-color: #e63946; 
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    text-shadow: 2px 2px #000000;
    padding-bottom: 20px;
}

nav {
    margin-top: 0.5rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: #E7C24F;
    text-shadow: 1px 1px #000;
}

h2 {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
    color: #fca311; 
}

.welcome-statement {
    font-size: 1.2rem;
    text-align: center;
}

/* Hero Banner */
.hero-banner {
    background-image: url('Images/banner.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 4rem 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.hero-banner h2 {
    font-size: 2.5rem;
    margin: 0 0 1rem;
}

.hero-banner p {
    font-size: 1.2rem;
}


.content {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 900px;
    background-color: #fca311; 
    border-radius: 8px;
    color: #000;
    text-align: center;
}

.content img {
    max-width: 100%;
    border-radius: 8px;
    margin: 1rem 0;
}


footer {
    background-color: #e63946;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
}

footer a {
    color: #fca311;
    text-decoration: none;
}

.tierlist-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top:  50px;
    padding-bottom: 50px;
    border: 5px solid #fca311;

}

.tierlist-text {
    text-transform: bold;
    font-size: 1rem;
}

.tierlist-img {
    padding: 20px;
    width: 80%;
}

.team {
    display: flex;
    gap : 20px;
}
.team-compositions {
    display: flex;
    flex-direction: column;
    gap: 50px;
}